* {
    box-sizing: border-box;
    width: 100%; /* ajuste automatico del ancho de
                      los items flex */
  }
  
  .pagina {
    position: relative;
    min-height: 100vh;

  }

  .row::after {
    content: "";
    clear: both;
    display: block;
  }


  header{
      background-color: #e8505b;
      width: 100%;
      padding: 10px;
  }
  
  .presentacion{
    background-color: #ea907a;
    padding: 10px;
  }

  main {
      background-color: #f3ecc2;
      width: 75%;
      padding: 10px;
  }

  aside {
    background-color: #f9d56e; 
    width: 25%;
    padding: 10px;
  }

  :root {
    --alto-del-footer: 5.5rem;
  }

  .contenido {
    padding-bottom: var(--alto-del-footer); /* alto del footer */
  }

  footer {
    height: var(--alto-del-footer);
    background-color: #14b1ab; 
    padding: 10px;
    position: absolute;
    bottom: 0;
  }

  section {
    background-color: aqua;
    border: solid 1px black;
    padding: 10px;
    clear: both;
  }

h1, h2, h3 {
    text-align: center;
}

  /*  Clases de flex */
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 800px) {
    .row {
      flex-wrap: wrap;
    }
  }
  
  @media (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  }
  