* {
    box-sizing: border-box;

  }
  
.pagina {
    position: relative;
    min-height: 100vh;

  }

  .row::after {
    content: "";
    clear: both;
    display: block;
  }

  header{
      background-color: #e8505b;
      padding: 10px;
  }

  .presentacion{
    background-color: #ea907a;
    padding: 10px;
  }

  main {
      background-color: #f3ecc2;
      padding: 10px;
  }

  aside {
    background-color: #f9d56e; 
    padding: 10px;
  }

  section {
    background-color: aqua;
    border: solid 1px black;
    padding: 10px;
  }

  article {
    background-color: lightblue;
    border: solid 1px black;
    padding: 10px;
  }

  :root {
    --alto-del-footer: 5.5rem;
  }

  .contenido {
    padding-bottom: var(--alto-del-footer); /* alto del footer */
  }

  footer {
    height: var(--alto-del-footer);
    background-color: #14b1ab; 
    padding: 10px;
    position: absolute;
    bottom: 0;
  }

h1, h2, h3 {
    text-align: center;
}

/* breakpoint: pantallas de 0 a 600px */
[class*="col-"] {
  float: left;
  width: 100%;
}

/* breakpoint:pantallas pequeñas >= 600px */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
/* breakpoint:pantallas medianas >= 768px */
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
/* breakpoint:pantallas grandes >= 992px */
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/* breakpoint:pantallas muy grandes >= 1200px */
@media only screen and (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}